/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./back-link.css');


/* Timer */
body {
  font-family: "Montserrat", sans-serif;
}

.date-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  box-sizing: border-box;
  width: 355px;
  height: 40px;
  margin: 36px auto 32px 156px;
}

.date-form input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 118px 8px 16px;
  outline: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.date-form input:hover {
  border: 1px solid #000;
}

.date-form input:focus {
  border: 1px solid #4e75ff;
  color: #000;
}

.date-form input:disabled {
  background-color: #fafafa;
  color: #808080;
}

.date-form button {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  border-style: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.date-form button:hover {
  background-color: #6c8cff;
}

.date-form button:disabled {
  color: #989898;
  background-color: #cfcfcf;
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 24px;

  margin: 0 auto auto 156px;
  width: 346px;
  height: 72px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

/* Snackbar */
.form {
  margin: 36px auto auto 156px;
}

.form>label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  width: 360px;
  height: 72px;
  margin-bottom: 30px;
}

.form>label>input {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
  outline: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form>label>input:hover {
  border: 1px solid #000;
}

.form>label>input:focus {
  border: 1px solid #4e75ff;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 48px;

  box-sizing: border-box;
  margin: 0 0 24px 0;
  padding: 18px 48px 8px 48px;
  border-radius: 4px;
  border: 1px solid #808080;

  width: 360px;
  height: 78px;
}

fieldset>legend {
  color: #2e2f42;
}

fieldset:hover {
  border: 1px solid #000;
}

fieldset:focus-within {
  border: 1px solid #000;
}

fieldset label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  color: #2e2f42;
}

fieldset input {
  margin: 0;
}

form>button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

form>button:hover {
  background-color: #6c8cff;
}